
.dashboards {
  flex: 0.2 1;
  border-right: 1px solid lightgrey;
  max-width: 260px;
  padding: 0 2vw;
}

.dashboards__item {
  padding: 20px 0;
}

.dashboards__item--active {
  padding: 20px 0;
  text-decoration: underline;
}